*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
body{
    font-family: "微软雅黑";
    color: #14191e;
}
.main{
    margin: 30px auto;
    overflow: hidden;
    position: relative;
}
.banner,.banner-slide,.main{
    width: 1200px;
    height: 460px;
}
.banner{
    position: relative;
    overflow: hidden;
}
.banner-slide{
    background-repeat: no-repeat;
    position: absolute;
    display: none;
}
.slide1{
    background-image: url("../image/IMG_5350.JPG");
}
.slide2{
    background-image: url("../image/IMG_5360.JPG");
}
.slide3{
    background-image: url("../image/IMG_5369.JPG");
}
.slide-active{
    display: block;
}
.button{
    position: absolute;
    width: 40px;
    height: 80px;
    left: 244px;
    top: 50%;
    margin-top: -40px;
    /*background: #0f0;*/
    text-align: center;
    text-decoration: none;
    line-height: 80px;
    opacity: 0;
    /*text-decoration-color: #ffffff;*/
    color: #fff;
    font-size: 30px;
}
.button:hover{
    background: #333;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.next{
    left: auto;
    right: 0;
}
.dots{
    position: absolute;
    right: 20px;
    bottom: 24px;
    text-align: right;
}
.dots span{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(7,17,27,0.4);
    box-shadow: 0 0 0 2px rgba(255,255,255,0.8) inset;
    margin-left: 8px;
    line-height: 12px;
    cursor: pointer;
}
.dots span.dots-active{
    box-shadow: 0 0 0 2px rgba(7,17,27,0.4) inset;
    background: #ffffff;
}
/*导航菜单*/
.menu-box{
    width: 244px;
    height: 460px;
    position: absolute;
}